:root {
  --main-headers-color: #212121;
  --main-text-color: #757575;
  --button-text-color: #ffffff;
  --button-background-color: #2196f3;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
}
/* HERO */
.hero {
  background-color: var(--first-background-color);
}
.hero-main-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--button-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--button-background-color);
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* MAIN */
/* about */
.advantage-item-title {
  color: var(--main-headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.about-title {
  color: var(--main-headers-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* our team */
.team {
  background-color: var(--second-background-color);
}
.team-title {
  color: var(--main-headers-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item-title {
  color: var(--main-headers-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-item-text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
